.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(32, 32, 36);
    padding: 1rem;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a:hover{
    color: rgb(255, 208, 0);
    font-size: 1.5rem;
    transition: 0.5s;
    letter-spacing: 4px;
}